/* Lakes-700*/
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Bold.ttf);
}

/* Lakes-500*/
@font-face {
  font-family: "TT Lakes Medium";
  src: url(../fonts/TTLakes-Medium.ttf);
}

/* Lakes-400*/
@font-face {
  font-family: "TTLakes-Regular";
  src: url(../fonts/TTLakes-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
.header {
  width: 320px;
}

.header__wrapper {
  padding: 24px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 88px;
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.header__left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16.73px;
}
.button_burger {
  background-image: url(../img/svg/burger.svg);
}
.header__logo-img {
  width: 96.548px;
  height: 50.815px;
}
.header__right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.button_search {
  background-image: url(../img/svg/search.svg);
}

/* menu */
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.menu {
  width: 222px;
  height: 876px;
}
.menu__item:hover {
  content: "";
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-radius: 0 10px 10px 0;
  white-space: nowrap;
}
.menu__item {
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu__link {
  padding-left: 24px;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  opacity: 1;
  transition: opacity 0.3s;
}

.menu__link:hover {
  opacity: 0.4;
}

.menu__nav {
  padding-top: 46px;
}
.button_call {
  background-image: url(../img/svg/call.svg);
}
.button_chat {
  background-image: url(../img/svg/chat.svg);
}
.button_profile {
  background-image: url(../img/svg/profile.svg);
}
.menu__wrapper {
  display: flex;
  flex-direction: row;
  gap: 37px;
  padding-left: 24px;
  padding-top: 268px;
  padding-bottom: 16px;
}
.menu__contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 24px;
}
.menu__contact-list {
  display: flex;
  gap: 7px;
}
.menu__contact-mail {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}
.menu__contact-tel {
  font-family: "TT Lakes";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: black;
}
.menu__contact-item {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}
.menu__contact-item_active {
  color: #7e7e82;
}
.shadow {
  width: 320px;
  height: 1024px;
  box-shadow: 5px 0 50px rgba(0, 0, 0, 0.3);
}
